{
  "classes" : "auto",
  "pre_processing_required":false,
  "pickle_data": "training_images.pickle",
  "prepare_pickle_file": true,
  "image" :{
    "resize": {
      "width":180,
      "height":180,
      "required": false
    },
    "width":180,
    "height":180
  },
  "training":{
    "base_directory":"/FaceNetConfig/",
    "image_directory" : "images/",
    "training_data_folder" : "images/train/",
    "testing_data_folder" : "images/test/",
    "structure_of_data": "folder",
    "random_shuffle":true,
    "training_size_percentage":95,
    "training_steps":50,
    "batch_size":24,
    "learning_rate":0.001
  },
  "network_config":{
    "tensor_name":"auto",
    "input_size":"auto",
    "output_size":"auto",
    "network":[
                {
                  "name": "conv1",
                  "type": "conv",
                  "filters": [1, 5, 5, 1],
                  "strides": [1, 1, 1, 1],
                  "padding": "SAME",
                  "width": -1,
                  "height": -1,
                  "weights": [5, 5, 1, 32]
                },
                {
                  "name": "maxpool1",
                  "type": "maxpool",
                  "filters": [1, 2, 2, 1],
                  "strides": [1, 2, 2, 1],
                  "padding": "SAME"
                },
                {
                  "name": "relu1",
                  "type": "relu",
                  "flatten": false
                },
                {
                  "name": "conv2",
                  "type": "conv",
                  "filters": [1, 5, 5, 1],
                  "strides": [1, 1, 1, 1],
                  "padding": "SAME",
                  "weights": [5, 5, 32, 64]
                },
                {
                  "name": "maxpool2",
                  "type": "maxpool",
                  "filters": [1, 2, 2, 1],
                  "strides": [1, 2, 2, 1],
                  "padding": "SAME"
                },
                {
                  "name": "flatten_relu2",
                  "type": "relu",
                  "flatten": true
                },
                {
                  "name": "fc1",
                  "type": "fc",
                  "weights": [129600, 512]
                },
                {
                  "name": "relu3",
                  "type": "relu",
                  "flatten": false
                },
                {
                  "name": "output",
                  "type": "fc",
                  "weights": [512, -1]
                },
                {
                  "name": "prediction",
                  "type": "prediction",
                  "weights": [-1]
                }
              ]
  }
}
